<div class="card">
  <div class="card-header bg-dark text-light">
    <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>
    Confirmar compra
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 text-center">
        <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
      </div>
      <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
        <h4 class="product-name"><strong>Product Name</strong></h4>
      </div>
      <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
        <div class="col-3 col-sm-3 col-md-7 text-md-right">
          <h6><strong>25.00 <span class="text-muted ml-3">x</span></strong></h6>
        </div>
        <div class="col-4 col-sm-4 col-md-5">
          <div class="quantity">
            <select class="form-control form-control-sm">
              <option> 1 </option>
              <option> 2 </option>
              <option> 3 </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-4">
        <a href="" class="btn btn-outline-success ml-3">Comprar</a>
        <a href="" class="btn btn-outline-danger ml-3">Cancelar</a>
      </div>
      <div class="col-md-8 text-md-right">
        <h5 class="mr-3"> Total price: 50.00€ </h5>
      </div>
    </div>
  </div>
</div>
