<div class="card-header bg-dark text-light">
  <h5>
    <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>
    Confirmar compra
  </h5>
</div>
<div *ngIf="product && stockList.length" class="card-body">

  <div class="row">
    <div class="col-12 col-sm-12 col-md-2 text-center">
      <img class="img-responsive" src="{{product.images[0]}}" alt="prewiew" width="120" height="80">
    </div>
    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
      <h4 class="product-name"><strong>{{ product.name }}</strong></h4>
    </div>
    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
      <div class="col-3 col-sm-3 col-md-7 text-md-right">
        <h6>
          <strong>
            {{product.price | soles}}
            <span class="text-muted ml-3">x</span>
          </strong>
        </h6>
      </div>
      <div class="col-4 col-sm-4 col-md-5">
        <div class="quantity">
          <select [(ngModel)]="quantity" (change)="updateTotal()" class="form-control form-control-sm">
            <option *ngFor="let item of stockList" [value]="item"> {{ item }} </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="row">
    <div class="col-md-6">
      <button href="" class="btn btn-success ml-3">
        Comprar
      </button>
      <button (click)="close()" class="btn btn-outline-danger ml-3">
        Cancelar
      </button>
    </div>
    <div class="col-md-6 text-md-right">
      <h5 class="mr-3"> Precio total: {{ total | soles }}</h5>
    </div>
  </div>
</div>
