<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Comprar <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          Mis Compras
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="publicar">
          <i class="fa fa-tag" aria-hidden="true"></i>
          Vender
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ventas">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
          Mis Productos
        </a>
      </li>
    </ul>
  </div>
</nav>
