<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i class="feather fa fa-shopping-cart" aria-hidden="true"></i>
          Comprar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="publicar">
          <i class="feather fa fa-tag" aria-hidden="true"></i>
          Vender
        </a>
      </li>
    </ul>

    <hr>

    <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a class="nav-link" routerLink="compras">
          <i class="feather fa fa-shopping-bag" aria-hidden="true"></i>
          Compras
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ventas">
          <i class="feather fa fa-lg fa-line-chart" aria-hidden="true"></i>
          Ventas
        </a>
      </li>
    </ul>

  </div>
</nav>
