<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    Ecommeerce
  </a>
  <ul class="nav nav-pills">
    <li *ngIf="user" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">
        {{ user.email }}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Perfil</a>
        <a class="dropdown-item" (click)="signOut()">Salir</a>
      </div>
    </li>
    <li *ngIf="!user" class="nav-item">
      <a class="nav-link" routerLink='sign-in'>Ingresa</a>
    </li>
    <li *ngIf="!user" class="nav-item">
      <a class="nav-link" routerLink='register'>Registrate</a>
    </li>
  </ul>
</nav>
