<nav class="navbar fixed-top navbar-light bg-light border-bottom">
  <a class="navbar-brand" routerLink="">
    E-Commerce
  </a>

  <form *ngIf="!user" class="form-inline">
    <button class="btn btn-sm btn-outline-primary mx-2" type="button" (click)="openSignIn()">
      Ingresar
    </button>
    <button class="btn btn-sm btn-outline-primary mx-2" type="button" (click)="open(register)">
      Registrarse
    </button>
  </form>

  <ul *ngIf="user" class="nav nav-pills">
    <li *ngIf="user" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="" role="button" aria-haspopup="true"
        aria-expanded="false">
        {{ user.email }}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="perfil">Perfil</a>
        <a class="dropdown-item" (click)="signOut()">Salir</a>
      </div>
    </li>
  </ul>

</nav>

<ng-template #register let-modal>
  <div class="modal-header">
    <h6 class="modal-title">
      Completa tus datos
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ecm-register></ecm-register>
  </div>
</ng-template>
