<div class="row">
  <div class="col-md-4" *ngFor="let product of products | async">
    <figure class="card card-product">
      <div class="img-wrap"><img src="{{product.images[0]}}"></div>
      <figcaption class="info-wrap">
        <h4 class="title">
          <a class="nav-link text-truncate" [routerLink]="['producto', product.id]">
            {{ product.name }}
          </a>
        </h4>
        <p class="desc text-truncate">
          {{product.description}}
        </p>
      </figcaption>
      <div class="bottom-wrap">
        <a href="" class="btn btn-sm btn-primary float-right">Comprar</a>
        <div class="price-wrap h5">
          <span class="price-new">S/ {{ product.price }}</span>
        </div>
      </div>
    </figure>
  </div>
</div>
