<div class="row">
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://s9.postimg.org/tupxkvfj3/image.jpg"></div>
            <figcaption class="info-wrap">
                <h4 class="title">
                  <a class="nav-link" routerLink="/product-detail">
                    Another name of item
                  </a>
                </h4>
                <p class="desc">Some small description goes here</p>
                <div class="rating-wrap">
                    <div class="label-rating">132 reviews</div>
                    <div class="label-rating">154 orders </div>
                </div>
            </figcaption>
            <div class="bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                <div class="price-wrap h5">
                    <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                </div>
            </div>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://s9.postimg.org/ojb106167/image.jpg"> </div>
            <figcaption class="info-wrap">
                <h4 class="title">Good product</h4>
                <p class="desc">Some small description goes here</p>
                <div class="rating-wrap">
                    <div class="label-rating">132 reviews</div>
                    <div class="label-rating">154 orders </div>
                </div>
            </figcaption>
            <div class="bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                <div class="price-wrap h5">
                    <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                </div>
            </div>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://s9.postimg.org/4ooze1tof/image.jpg"></div>
            <figcaption class="info-wrap">
                <h4 class="title">Product name goes here</h4>
                <p class="desc">Some small description goes here</p>
                <div class="rating-wrap">
                    <div class="label-rating">132 reviews</div>
                    <div class="label-rating">154 orders </div>
                </div>
            </figcaption>
            <div class="bottom-wrap">
                <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                <div class="price-wrap h5">
                    <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                </div>
            </div>
        </figure>
    </div>
</div>
