.product-header-section {
  border-bottom-style: ridge;
  padding-bottom: 1rem;
}

.product-header {
  border-left-style: ridge;
}

.prices {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-comprar {
  width: 80%;
  margin-top: 1rem;
}
