.product-img img {
  height: 100%;
  width: 100%;
}

.product-header-section {
  border-bottom-style: ridge;
}

.product-header {
  border-left-style: ridge;
}

.prices {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.prices .price-old{
  color: #999;
}

.btn-comprar {
  width: 80%;
  margin-top: 1rem;
}
