<div class="container">
  <div class="row product-header-section">

    <div class="col-md-5">

      <ngb-carousel>
        <ng-template *ngFor="let image of (item | async)?.images" ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="image" class="img-fluid">
          </div>
        </ng-template>
      </ngb-carousel>

    </div>

    <div class="col-md-6 offset-1 product-header">
      <h2> {{(item | async)?.name}}</h2>

      <div class="prices">
        <h2><span class="price-new">S/ {{(item | async)?.price}}</span></h2>
      </div>

      <div class="delivery">
        <span>{{(item | async)?.description}}</span>
      </div>

      <button class="btn btn-primary btn-comprar">Comprar</button>
    </div>
  </div>
</div>
