<div class="container">
  <div class="row product-header-section">

    <div class="col-md-5">
      <div class="product-img">
        <img src="https://media.canalnet.tv/2019/09/iphone-11-974x550.jpg">
      </div>
    </div>

    <div class="col-md-6 offset-1 product-header">

      <h2>IPhone 11 como nuevo recién estrenado</h2>

      <div class="prices">
        <del class="price-old">$1980</del><br>
        <h2><span class="price-new">$1280</span></h2>
      </div>

      <div class="delivery">
        <span>Nacional e Internacional</span>
      </div>

      <button class="btn btn-primary btn-comprar">Comprar</button>
    </div>
  </div>
</div>
