<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="email" class="col-md-4 col-form-label text-md-right">
      Email
    </label>
    <div class="col-md-6">
      <input type="text" id="email" class="form-control" formControlName="email" required autofocus>
    </div>
  </div>

  <div class="form-group row">
    <label for="password" class="col-md-4 col-form-label text-md-right">
      Password
    </label>
    <div class="col-md-6">
      <input type="password" id="password" class="form-control" formControlName="password" required>
    </div>
  </div>

  <div class="col-md-6 offset-md-4">
    <button type="submit" class="btn btn-primary">
      Registrate
    </button>
  </div>
</form>
