<div style="text-align:center">

  <h1 class="card-header bg-info">
    Productos vendidos el último mes
  </h1>
<br>
  <div class="row ml-5">
    <div class="col">
        <div class="row">
          <h4>
            Ventas realizadas
          </h4>
        </div>
        <div class="row">
          <lib-simple-bar-chart></lib-simple-bar-chart>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h4>
            Comparativa anual de ventas
          </h4>
        </div>
        <div class="row">
          <lib-complex-full-bar-chart></lib-complex-full-bar-chart>
        </div>
      </div>
    </div>
    <div class="row ml-5">
      <h4>
        Comparativa porcentual anual de ventas
      </h4>
    </div>
    <div class="form-group row ml-5">
      <lib-complex-bar-chart></lib-complex-bar-chart>
    </div>
</div>
